.flex-container {
  display: flex; 
}

.flex-container2 {
  display: flex; 
  flex-direction: column;
}

/* this selector selects all divs inside of .flex-container */
.flex-container .one {   
  height: 100vh;  
  flex: 1;
}

/* only div.two is selected here */
.flex-container .two {
  flex: 2 1 0%;  
  height: 100vh;  
}

.two .firstMain{
  background:  lightcoral;
}

.two .thirdMain{
  background: lightcoral;
}

.main{
  background: gainsboro;
  border: 2px solid brown;
  height: 33vh;
}

blockquote {
  font-size: 30px;
  /*font-weight: bold;
  font-style: italic;*/  
  color: #1f2937;
  padding-top: 25px;
}

cite {
  font-weight: bolder;
  font-size: 30px;
}

button {
  padding: 15px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 10px;
  background-color: green;
  color: white;  
  border: 2px solid white;
  font-weight: bold;

  margin-top: 40px;
  margin-left: 65px;
}

.bottomP{
  margin-left: 65px;  
}

img{
  width: 100%;
  height: 100%;
}


section{
  margin-left: 70px;
  margin-top: 30px;
}

label {
  display: inline-block;
}

label span {
  display: inline-block;
  text-align: right;
}

input,
fieldset {
  font: 1em sans-serif;
  width: 300px;
  padding: 5px;  
  box-sizing: border-box;
  border: 1px solid #999;
}

p label {
  width: 100%;
}

.testingP{
  column-gap: 28px;    
}

.testingP2{  
  column-gap: 10px;  
}


input:focus {
  background-color: lightblue;
}

input:invalid {
  border: 2px dashed red;
}

input:valid {
  border: 2px solid green;
}



.card-container {
  position: relative;
  width: 100%;
  height: 100%;
}
.card-image {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.card-body {
  position: absolute;  
  width: 100%;
  height: 100px;  
  background: black;
  opacity: 0.6;
  color: white;
  top: 8rem;
  text-align: center;  
  font-size: 1.3em;
  font-family: roboto;
}
.card-heading {
  position: absolute;
  top: 2rem;
  left: 14rem;
}

.imagemP{
  width: 80px;
  height: 80px;
  position: absolute;
  left: 24rem;
  top: 8px;  
}


